*.pyc
*.swp
*.swo
*.log

org-corpus
tornado

archives/
corpus/
gpg/
training/
test/
log/
query/
redis/
run/
runs/
submit/
backup/
rumor/
dump/
eval/
wikimarkup/

indri/
indri-*
qrels/
weight/
oair/
filter/

temporal/
