<html>
<head>
  <title>{{ title }}</title>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<body style="font-family:Monaco, monospace; font-size:80%;">
  <p>stream_id: {{ doc.id }}</p>
  <br/>
  <p>Title: {{ doc.title }}</p>
  <br/>
  <p>Date: {{ doc.date }}
  <br/>
  <p>File: {{ doc.file }}
  <br/>
  <p>Time: {{ doc.time }}
  <br/>
  <p>Anchor: {{ doc.anchor }}
  <br/>
  <p>Body: </p>
  <div id="wrapper" style="width: 600px">{{ doc.body }}</p>
  
  <script>
    var str = $("div#wrapper").text();
    $("div#wrapper").html(str);
  </script>

</body>
</html>
