<html>
<head>
  <title>{{ title }}</title>
  <style>
  span.qent { color: blue; font-size: 25px;}
  span.rent { color: red;  font-size: 25px;}
  </style>
</head>

<body style="font-family:sans-serif;">
  <div style="background:#EFEFEF no-repeat scroll; margin: 30px 10px;">
  <p>stream_id: {{ ret_item.stream_id }}</p>
  <br/>
  <p>file: {{ ret_item.file }}</p>
  <br/>
  <p>Query: {{ ret_item.query }}</p>
  <br/>
  <p>Time: {{ ret_item.time }}</p>
  <br/>
  <p>Rating: {{ ret_item.rating }}</p>
  <br/>
  </div>
  <p>Body: </p>
  <div id="wrapper" style="width: 600px">{% raw ret_item.stream_data %}</div>

</body>
</html>
