<html>
<head>
  <title>{{ title }}</title>
</head>

<body style="font-family:sans-serif;">
  <p>{{ len(ret_items) }} query entities in total.</p>
  <table border="0" cellpadding="3" width="800">
    {% for ret_item in sorted(ret_items, key=lambda x:int(x.id)) %}
    <tr>
      <td align="right" width="10%">{{ ret_item.ent }}</td>
      <td align="right" width="5%">{{ ret_item.id }}</td>
      <td align="center" width="15%">[<a href="/ent/{{ ret_item.id }}">Entities</a>]</td>
      <td align="center" width="15%">[<a href="/doc/{{ ret_item.id }}">Documents</a>]</td>
      <td align="center" width="10%">[<a href="/tune/{{ ret_item.id }}/c">Tune C</a>]</td>
      <td align="center" width="10%">[<a href="/tune/{{ ret_item.id }}/rc">Tune RC</a>]</td>
      <td align="center" width="10%">[<a href="/temp/{{ ret_item.id }}">Temporal</a>]</td>
    </tr>
    {% end %}
  </table>
</body>
</html>
